.landingBackground {
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('/images/mountain.jpg') no-repeat center center/cover;
  height: 100%;
}

.landingMain {
  padding-top: 10%;
  padding-bottom: 6rem;
}

.landingButtonLayout {
  display: flex;
  align-items: center;
  justify-content: center;
}

.landingButton {
  width: 90%;
  margin: 1rem;
}

.introText {
  font-size: 110px;
  color: white;
}

.howToPlayLayout {
  background: #4b545c;
  padding-bottom: 2rem;
}

.howToPlayContent {
  padding-top: 2rem;
  text-align: center;
  color: white;
}

.howToPlayCol {
  margin: 1rem 0rem;
}

.howToPlayImg {
  height: 15rem;
  margin-bottom: 1rem;
}

.landingLink {
  color: #17a2b8;
  transition: 0.3s;
}

.landingLink:hover {
  color: #148ea1;
  text-decoration: none;
}

@media only screen and (max-width: 1200px) {
  .introText {
    font-size: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .introText {
    font-size: 50px;
  }
}
